[Unit]
Description=Exposes observer VNC session through a websocket interface
After=network.target

[Service]
ExecStart=/usr/bin/websockify 6080 localhost:5902
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
