[Unit]
Description=uWSGI instance to serve the web dashboard
After=network.target

[Service]
User=nginx
Group=nginx
WorkingDirectory=/var/www/dashboard/
ExecStart=/usr/sbin/uwsgi --ini /var/www/dashboard/dashboard.ini

[Install]
WantedBy=multi-user.target
