{% extends "layout.html" %}
{% set title = 'TCS Control' -%}
{% set active_page = 'files' -%}
{% block body %}
<div class="container">
    <div class="d-flex flex-row-reverse">
        <div class="mt-3 mb-3" style="width: 400px">
            <form method="post" enctype="multipart/form-data">
                <div class="input-group input-group-sm">
                    <input type="file" name="file" class="form-control" aria-label="Upload">
                    <button class="btn btn-secondary" type="submit">Upload</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="rounded-0">
            <table class="table table-bordered">
              <tr>
                <td class="fw-bold dashboard-stats w-75">Filename</td>
                <td class="text-center fw-bold dashboard-stats w-auto">Modified</td>
                <td class="text-end fw-bold dashboard-stats w-auto">Size</td>
              </tr>
              <tbody>
              {% for row in table %}
              <tr>
                  <td class="font-monospace dashboard-stats"><a href="{{ row[0] }}"><i class="{{ row[1] }}" style="margin-right:5px"></i>{{ row[2] }}</a></td>
                  <td class="text-center text-muted dashboard-stats">{{ row[3]|safe }}</td>
                  <td class="text-end text-muted dashboard-stats">{{ row[4]|safe }}</td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
