{% extends "layout.html" %}
{% set title = 'TCS Control' -%}
{% set active_page = 'vnc' -%}
{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center m-1 mt-2">
        <div class="col list-group list-group-item rounded-0 p-0" style="max-width: 1920px">
            <div class="ratio ratio-16x9">
                <div id="screen"></div>
            </div>
        </div>
    </div>
</div>
<script type="module" crossorigin="anonymous">
    import RFB from '{{ url_for('static', filename='vnc/rfb.js') }}';

    let rfb;
    function credentialsAreRequired(e) {
        const password = prompt("Password Required:");
        rfb.sendCredentials({ password: password });
    }

    let url = 'ws://' + window.location.hostname + '/websockify';
    rfb = new RFB(document.getElementById('screen'), url, { credentials: { password: undefined } });
    rfb.addEventListener("credentialsrequired", credentialsAreRequired);
    rfb.scaleViewport = true;
</script>

{% endblock %}
